.extra-feedback {
  color: #eee;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 2;
  max-width: 600px;
  text-align: center;
}

.extra-feedback__full-character-name {
  color: var(--primary-dark-color);
  font-family: Cinzel-Regular;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.extra-feedback__extraInfo {
  color: #eee;
  font-size: 2.2rem;
}
