.user-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 70px;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.user-options__option-name {
  color: var(--primary-dark-color);
}

.user-options__option-item {
  cursor: pointer;
  color: var(--font-accent-color);
}

.user-options__option-item--selected {
  color: var(--font-color);
}

.user-options__selected-option-icon {
  position: relative;
  vertical-align: text-bottom;
  width: 16px;
}
