#landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@media screen and (max-height: 767px) and (orientation: landscape) {
  #landing {
    height: 100%;
    padding: 2rem;
  }
}
