.questions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions-question {
  color: var(--primary-dark-color);
  font-family: Cinzel-Regular;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-align: center;
}

.questions-answers {
  color: var(--font-accent-color);
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
}
