.button-panel-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
}

.button-panel-list button {
  border-color: #eee;
  color: #eeee;
}

.button-panel-list button:hover {
  border-color: #eee;
  color: #eeee;
}

.button-panel-list button:active {
  border-color: #eee;
  color: #eeee;
}

@media screen and (min-width: 769px) {
  .button-panel-list {
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
  }

  .button-panel-list-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
