.postgame {
  position: relative;
}

.postgame-modal-content {
  background-image: url('../../assets/images/parchment.jpg');
  background-color: var(--primary-dark-color);
  background-size: cover;
  background-blend-mode: multiply;
  border-color: transparent;
  border-radius: 8px;
  left: 50%;
  max-height: calc(100vh - 40px);
  min-height: 400px;
  outline: 0;
  overflow: auto;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

@media screen and (min-width: 769px) {
  .postgame-modal-content {
    overflow: hidden;
    width: 640px;
  }
}

.postgame-modal-overlay {
  background-color: hsla(0, 0%, 4%, 0.86);
}
