.postgame {
  align-items: center;
  background: url('../../assets/images/postgame-background.jpg');
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}
.postgame-modal-character-profile {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .postgame-modal-character-profile {
    flex-direction: row;
  }
}

.postgame-modal-character-profile__full-name {
  display: inline-block;
  font-family: GameOfThrones;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  align-self: center;
  opacity: 0.7;
  text-align: center;
  text-transform: uppercase;
}

.postgame-modal-character-profile__pic {
  border-radius: 5%;
  box-shadow: 1px 2px 3rem 8px var(--primary-color);
  display: block;
  margin: 0 auto;
  opacity: 0.7;
  position: relative;
  top: 1rem;
  width: 175px;
}

.postgame-modal-character-profile__caption {
  color: var(--font-accent-color);
  font-size: 1.6rem;
  font-style: italic;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
  top: 2rem;
}

.postgame-modal-character-profile__bio {
  line-height: 2.5rem;
  font-size: 1.7rem;
  flex-basis: 66%;
}

.postgame-modal-character-dixit {
  text-align: center;
  font-family: Cinzel;
  color: #363636;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 2rem;
  letter-spacing: 1.8px;
}
