.game {
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px;
    padding: 0;
  }
}
