.game {
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    margin: auto;
    max-width: 1200px;
    padding: 0;
  }
}

.game-progress-bar {
  display: block;
  margin: 2rem auto 0rem auto;
  max-width: 600px;
}
