:root {
  --primary-color: #b58107;
  --bg-color: #eeeeee;
  --font-color: #121212;
}

[data-theme='dark'] {
  --primary-color: #ebb042;
  --bg-color: #121212;
  --font-color: #f5f5f5;
}

@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'),
    url('./assets/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  src: local('Cinzel'), url('./assets/fonts/Cinzel/CinzelRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'GameOfThrones';
  src: local('GameOfThrones'),
    url('./assets/fonts/GameOfThrones/GameOfThronesRegular.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Inconsolata, 'Times New Roman', Times, serif;
  font-size: 100px;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
}

img,
video {
  height: auto;
  max-width: 100%;
}

main {
  display: block;
}

b,
strong {
  font-weight: bolder;
}

button,
input,
select,
textarea {
  margin: 0;
}

a  {
  text-decoration: none;
}
